<div class="card">
    <div class="w-full h-fit">
        <img [src]="defaultImage" (error)="onImageError($event)" alt="Fundo do jogo" class="rounded-t-lg w-full h-24 xl:h-37">
    </div>
    <div class="justify-start px-4 py-2 h-fit">
        <p class="font-thin text-lg xl:text-2xl">{{ offer.title | slice: 0:characterLimit | titlecase }}{{ offer.title.length > characterLimit? '...' : '' }}</p>
        <div class="content">
            <button class="detail-btn">Detalhes</button>
            <div class="flex flex-row relative">
                <div class="w-fit">
                    <p class="price">$ {{ offer.normalPrice }}</p>
                    <p class="font-bold text-sm xl:text-lg">$ {{ offer.salePrice }}</p>
                </div>
                <div class="discount-content">
                    <p class="text-sm font-bold xl:text-lg">{{ offer.discount == "-100"? 'GRÁTIS' : offer.discount + "%" }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
