<footer>
    <div class="content">
        <div class="flex justify-center">
            <img src="../../../../assets/logo-icone.svg" alt="Icone Game Tracker">
        </div>
        <div class="flex mt-1 md:mt-3">
            <p class="font-light text-center md:text-left">© 2021, Game Tracker Inc. Todos os direitos reservados. Nulla facilisi. Etiam sagittis congue tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse eu velit et ante luctus egestas. Aenean sed nisi tellus. Duis non ornare libero. Quisque suscipit maximus nisi, in gravida felis. Cras ornare mauris ac nisi congue, ut condimentum sem tincidunt. Phasellus semper tellus malesuada turpis gravida cursus. Duis nec eleifend nunc, vitae finibus elit. Aliquam eget diam vitae purus suscipit viverra.</p>
        </div>
        <div class="inline-block font-bold md:flex">
            <a class="footer-links" href="">Termos de Serviço</a>
            <a class="footer-links" href="">Política de Privacidade</a>
            <a class="footer-links" href="">Trabalhe conosco</a>
            <a class="footer-links" href="">Contato</a>
        </div>
    </div>
</footer>
